/* Estilo das tags */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0E0E10;
    color: #EFEFF1;
}

.main-wrapper {
    display:grid;
    min-height: 100vh;
    grid-template-columns: 240px 1fr; /* colunas */
    grid-template-rows: auto 1fr auto; /* linhas */
    
    /* Dizendo onde cada tag se localiza */
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

/* Definindo a área */

.main-header {
    grid-area: header; /* A tag header vai para a área de header */
    background-color: #18181B;
    border-bottom: 1px solid #464649;
    display: flex;
    justify-content: space-between; /* Cabeçalho na horizontal */
    align-items: center; /* Alinha no centro verticalmente */
    padding: 0 1.5rem; /* Espaçamento */
}

.sidebar {
    grid-area: sidebar; 
    background-color: #18181B;
    border-right: 1px solid #464649;
    padding: 1rem;
}

.main-content {
    grid-area: main;
    padding: 1.5rem;
}

.main-nav ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.search-bar {
    display: flex;
    width: 300px;
}

/* Escondendo o menu hamburguer para PC */

.nav-hamburger-btn {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color:#EFEFF1;
    cursor: pointer;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
}

.col-4 {
    grid-column:span 4;
    min-width: 0;
}

.card-thumbnail img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.main-footer {
    grid-area: footer;
    background-color: #18181B;
    border-top: 1px solid #464649;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-nav {
    display: none; /* Escondido no desktop */
    padding: 1rem;
    border-bottom: 1px solid #464649;
}
.sidebar-nav ul {
    list-style: none;
}
.sidebar-nav li {
    margin-bottom: 1rem;
}
.sidebar-nav a {
    color: #EFEFF1;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

/* ======== Responsividade ======== */

/* Tablets */
@media (max-width: 992px) {
    .main-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
        "header" /* O cabeçalho continua no topo */
        "main" /* O conteúdo ocupa a largura */
        "footer"; /* o footer permanece no final */
    }
    .sidebar {
        grid-area: unset;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 100;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        box-shadow: 2px 0 10px rgba(0,0,0,0.5);
    }
    .sidebar-nav {
    display: block; /* Mostra os links no menu mobile */
    }
    .sidebar.sidebar-is-active {
        transform: translateX(0);
    }
    .nav-hamburger-btn {
        display: block;
    }
    .main-header {
        padding: 0 1rem;
    }
    .row .col-4 {
        grid-column: span 6;
    }
    .search-bar {
        width:250px;
    }

}

/* Celulares */
@media (max-width: 576px) {
    .row .col-4 {
        grid-column: span 12;
    }
    .main-header {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem 0.5rem;
    }

    .nav-hamburger-btn {
        order: 2;
    }
    .search-bar {
        width: 100%;
        order: 3;
    }
    .main-header h1 {
        font-size: 1.5rem;
        order: 1;
    }
    .main-nav {
        display: none;
    }
}